
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";

/* Your styles here */

body, html
{
	font-family: sans-serif;
	color: #ffe;
	/* fallback */
	background-color: #1a82f7;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x;
	background: -webkit-linear-gradient(bottom, #2F2727, #1a82f7);
	background: -moz-linear-gradient(bottom, #2F2727, #1a82f7);
	background: linear-gradient(bottom, #2F2727, #1a82f7);
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

a:link,
a:visited,
a:hover,
a:active
{
	color: #ffa;
	text-decoration: none;
	font-weight: bold;
}

a:hover,
a:active
{
	color: white;
	text-decoration: none;
}

.actionmenu
{
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.actionmenu a
{
	display: inline-block;
	margin: 5px;
	margin-bottom: 10px;
	border-radius: 30px;
	box-shadow: black 1px 1px 2px;
	background: #030;
}
.actionmenu a:hover
{
	background: #242;
}
.actionmenu a:active
{
	background: #353;
}

.actionmenu a img
{
	width:32px;
	padding: 5px;
	vertical-align:middle;
}

.panelbottom:target ~ .actionmenu
{
	border: 1pt solid yellow;
	background: red;
	display: none;
}

.panelbottom
{
	text-align: center;
	left: 1px;
	right: 1px;
	position: fixed;
	color: white;
	background: rgba(133, 156, 228, .2);
	border: 1px solid #1b335b;
	border-top-color: red;
	box-shadow: inset 1px 1px 8px 1px #1b335b;
	padding: 10px;
	text-shadow: black 1px 1px 2px;
}

.panelbottom /* not on target */
{
	transition-duration: 1s;
	opacity:0;
	bottom: -150px;
	pointer-events:none;
}

.panelbottom:target
{
	transition-duration: 1s;
	opacity:1;
	bottom: 0px;
	pointer-events:inherit;
}

.panelbottom h2
{
	margin: 0;
	font-size: 14pt;
}

.panelbottom h2 img
{
	vertical-align:text-top;
	margin-right: 10px;
	width: 32px;
}

.panelbottom img.dialogicon
{
	float: left;
}

.panelbottom .closebutton
{
	float: right;
}

.panelbottom ul {
	padding-left: 0px;
	list-style: none;
}

.panelbottom input
{
	padding: 3px;
	background: #44f;
	color: white;
	text-shadow: black 1px 1px 2px;
	margin: 2px;
}

.panelbottom input[type='checkbox'] + label,
.panelbottom input[type="button"]
{
	border-radius: 5px;
	color: white;
	text-shadow: black 1px 1px 2px;
	font-weight: bold;
	background: -webkit-linear-gradient(bottom, #272F27, #1a82f7);
	background: -moz-linear-gradient(bottom, #272F27, #1a82f7);
	background: linear-gradient(bottom, #272F27, #1a82f7);
	border: black 2px solid;
	margin: 1pt;
	padding: 4px 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.panelbottom input[type='checkbox'] + label {
	height: 20px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	position: relative;
	display: block;
	cursor: pointer;
}

.panelbottom input[type='checkbox'] + label:hover,
.panelbottom input[type="button"]:hover
{
	background: -webkit-linear-gradient(bottom, #373F37, #2a92f7);
	background: -moz-linear-gradient(bottom, #373F37, #2a92f7);
	background: linear-gradient(bottom, #373F37, #2a92f7);
}
.panelbottom input[type='checkbox'] + label:active,
.panelbottom input[type="button"]:active
{
	background: -webkit-linear-gradient(top, #272F27, #1a82f7);
	background: -moz-linear-gradient(top, #272F27, #1a82f7);
	background: linear-gradient(top, #272F27, #1a82f7);
}

.panelbottom input[type='checkbox']
{
	display: none;
}

/* Checkbox led hole */
.panelbottom input[type='checkbox'] + label:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	opacity: 1;
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
}

/* Checkbox led light */
.panelbottom input[type='checkbox'] + label:after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 7px;
	left: 7px;
	width: 16px;
	height: 16px;
	background: #00bf00;
	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.panelbottom input[type='checkbox'] + label:hover::after {
	opacity: 0.3;
}

.panelbottom input[type=checkbox]:checked + label:after {
	opacity: 1;
}





#faceit
{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h1
{
	text-align: center;
	text-shadow: black 1px 1px 2px;
	color: #ffa;
	padding: 0px 3px;
	margin: 0px;
	border: white;
	background: #444;
}

#logwindow {
	position: fixed;
    background: rgba(133, 156, 228, .1);
    border: 1px solid #1b335b;
    border-right-color: red;
    box-shadow: inset 1px 1px 8px 1px #1b335b;
	text-shadow: black 1px 1px 2px;
	left: 0;
	bottom: 0%;
	top: 35px;
	width: 25%;
	opacity: 1;
	transition: 1s;
}
#logwindow.hidden
{
	display: none;
	left: -26%;
	transition: 1s;
	opacity: 0;
	padding-bottom: 20px;
}
#logwindow h2 {
	margin-top: 0;
	margin-bottom: 0;
	background: #aaa;
	position: relative;
	top: 0;
	padding: 3px;
}

#logwindow h2 * {
	/* dock icons */
	float: right;
}

#log {
	position: relative;
	bottom: 0px;
	top: 0;
	max-height: 90%;
	overflow:auto;
	background: rgba(0,256,0,.8);
}


#subtitles {
	margin: 15px;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}




