
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";

/* Your styles here */

body, html
{
	font-family: sans-serif;
	color: #ffe;
	/* fallback */
	background-color: #1a82f7;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,
		from(#1a82f7), to(#2F2727));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #2F2727, #1a82f7);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #2F2727, #1a82f7);
	/* IE 10 */
	background: -ms-linear-gradient(bottom, #2F2727, #1a82f7);
	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #2F2727, #1a82f7);
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

a:link,
a:visited,
a:hover,
a:active
{
	color: #ffa;
	text-decoration: none;
	font-weight: bold;
}

a:hover,
a:active
{
	color: white;
	text-decoration: none;
}
ul {
	list-style: none;
}

.actionmenu
{
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.actionmenu a
{
	display: inline-block;
	margin: 5px;
	margin-bottom: 10px;
	border-radius: 30px;
	box-shadow: black 1px 1px 2px;
	background: #030;
}
.actionmenu a:hover
{
	background: #242;
}
.actionmenu a:active
{
	background: #353;
}

.actionmenu a img
{
	width:32px;
	padding: 5px;
	vertical-align:middle;
}

.panelbottom:target ~ .actionmenu
{
	border: 1pt solid yellow;
	background: red;
	display: none;
}

.panelbottom
{
	text-align: center;
	left: 1px;
	right: 1px;
	position: fixed;
	color: white;
	background: rgba(133, 156, 228, .2);
	border: 1px solid #1b335b;
	border-top-color: red;
	box-shadow: inset 1px 1px 8px 1px #1b335b;
	padding: 10px;
	text-shadow: black 1px 1px 2px;
}

.panelbottom /* not on target */
{
	transition-duration: 1s;
	opacity:0;
	bottom: -150px;
	pointer-events:none;
}

.panelbottom:target
{
	transition-duration: 1s;
	opacity:1;
	bottom: 0px;
	pointer-events:inherit;
}

.panelbottom h2
{
	margin: 0;
	font-size: 14pt;
}

.panelbottom h2 img
{
	vertical-align:text-top;
	margin-right: 10px;
	width: 32px;
}

.panelbottom img.dialogicon
{
	float: left;
}

.panelbottom .closebutton
{
	float: right;
}

.panelbottom input
{
	padding: 3px;
	background: #44f;
	color: white;
	text-shadow: black 1px 1px 2px;
	border-radius: 5px;
	margin: 2px;
}

.panelbottom input[type="button"]
{
	color: white;
	text-shadow: black 1px 1px 2px;
	font-weight: bold;
	background: -webkit-linear-gradient(bottom, #272F27, #1a82f7);
	background: -moz-linear-gradient(bottom, #272F27, #1a82f7);
	background: linear-gradient(bottom, #272F27, #1a82f7);
	border: black 2px solid;
	margin: 1pt;
	padding: 4px 5px;
}

.panelbottom input[type="button"]:hover
{
	background: linear-gradient(bottom, #373F37, #2a92f7);
	background: -webkit-linear-gradient(bottom, #373F37, #2a92f7);
	background: -moz-linear-gradient(bottom, #373F37, #2a92f7);
}
.panelbottom input[type="button"]:active
{
	background: linear-gradient(top, #272F27, #1a82f7);
	background: -webkit-linear-gradient(top, #272F27, #1a82f7);
	background: -moz-linear-gradient(top, #272F27, #1a82f7);
}

.panelbottom input[type='checkbox']
{
	display: none;
}

.panelbottom input[type='checkbox'] ~ label
{
	background: white;
	padding: 10px;
	border: red;
}


#faceit
{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h1
{
	text-align: center;
	text-shadow: black 1px 1px 2px;
	color: #ffa;
	padding: 0px 3px;
	margin: 0px;
	border: white;
	background: #444;
}

#logwindow {
	position: fixed;
    background: rgba(133, 156, 228, .1);
    border: 1px solid #1b335b;
    border-right-color: red;
    box-shadow: inset 1px 1px 8px 1px #1b335b;
	text-shadow: black 1px 1px 2px;
	left: 0;
	bottom: 0%;
	top: 35px;
	width: 25%;
	opacity: 1;
	transition: 1s;
}
#logwindow.hidden
{
	display: none;
	left: -26%;
	transition: 1s;
	opacity: 0;
	padding-bottom: 20px;
}
#logwindow h2 {
	margin-top: 0;
	margin-bottom: 0;
	background: #aaa;
	position: relative;
	top: 0;
	padding: 3px;
}

#logwindow h2 * {
	/* dock icons */
	float: right;
}

#log {
	position: relative;
	bottom: 0px;
	top: 0;
	max-height: 90%;
	overflow:auto;
	background: rgba(0,256,0,.8);
}


#subtitles {
	margin: 15px;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}




